**Ecuaciones lineales mediante el método de Jacobi y Gauss Seidel .**

In [1]:
def jacobi(a,b,ans,initial):
  x1 = initial[0]
  x2 = initial[1]
  x3 = initial[2]
  i = 0
  x = np.array([x1,x2,x3]).reshape((3,1))
  table = pd.DataFrame(columns=['Iteration','x1','x2','x3','Error'])
  ans = ans.reshape((3,1))
  err = abs(ans[0] - x[0]) + abs(ans[1] - x[1]) + abs(ans[2] - x[2])
  table.loc[i] = [i+1,round(x1,4),round(x2,4),round(x3,4),round(err[0],4)]
  while(True):
    X1 = (b[0] - a[0][1]*x2 - a[0][2]*x3)/a[0][0]
    X2 = (b[1] - a[1][0]*x1 - a[1][2]*x3)/a[1][1]
    X3 = (b[2] - a[2][1]*x2 - a[2][0]*x1)/a[2][2]
    x1 = X1
    x2 = X2
    x3 = X3
    x = np.array([x1,x2,x3]).reshape((3,1))
    b1 = b.reshape((3,1))
    t = np.matmul(a,x) - b1 
    err = abs(ans[0] - x[0]) + abs(ans[1] - x[1]) + abs(ans[2] - x[2])
    i = i+1
    table.loc[i] = [i+1,round(x1,4),round(x2,4),round(x3,4),round(err[0],4)]
    
    if(abs(t[0]) < 0.0001 and abs(t[1]) < 0.0001 and abs(t[2]) < 0.0001):
      break
  return table, round(x1,3) , round(x2,3) , round(x3,3)

def gauss_seidel(a,b,ans,initial):
  x1 = initial[0]
  x2 = initial[1]
  x3 = initial[2]
  i = 0
  x = np.array([x1,x2,x3]).reshape((3,1))
  table = pd.DataFrame(columns=['Iteration','x1','x2','x3','Error'])
  ans = ans.reshape((3,1))
  err = abs(ans[0] - x[0]) + abs(ans[1] - x[1]) + abs(ans[2] - x[2])
  table.loc[i] = [i+1,round(x1,4),round(x2,4),round(x3,4),round(err[0],4)]
  while(True):
    X1 = (b[0] - a[0][1]*x2 - a[0][2]*x3)/a[0][0]
    x1 = X1
    X2 = (b[1] - a[1][0]*x1 - a[1][2]*x3)/a[1][1]
    x2 = X2
    X3 = (b[2] - a[2][1]*x2 - a[2][0]*x1)/a[2][2]
    x3 = X3
    x = np.array([x1,x2,x3]).reshape((3,1))
    b1 = b.reshape((3,1))
    t = np.matmul(a,x) - b1 
    err = abs(ans[0] - x[0]) + abs(ans[1] - x[1]) + abs(ans[2] - x[2])
    i = i+1
    table.loc[i] = [i+1,round(x1,4),round(x2,4),round(x3,4),round(err[0],4)]
    
    if(abs(t[0]) < 0.0001 and abs(t[1]) < 0.0001 and abs(t[2]) < 0.0001):
      break
  return table, round(x1,3) , round(x2,3) , round(x3,3)

a = np.array([[9,1,1],[2,10,3],[3,4,11]])
b = np.array([10,19,0])

x = np.linalg.solve(a,b)
initial = [0,0,0]

NameError: ignored

In [0]:
table1 , x1 , x2 ,x3 = jacobi(a,b,x,initial) 
print(x1,x2,x3)
table1

1.0 2.0 -1.0

    Iteration      x1      x2      x3   Error
0         1.0  0.0000  0.0000  0.0000  4.0000
1         2.0  1.1111  1.9000  0.0000  1.2111
2         3.0  0.9000  1.6778 -0.9939  0.4283
3         4.0  1.0351  2.0182 -0.8556  0.1978
4         5.0  0.9819  1.9496 -1.0162  0.0846
5         6.0  1.0074  2.0085 -0.9768  0.0391
6         7.0  0.9965  1.9915 -1.0051  0.0171
7         8.0  1.0015  2.0022 -0.9960  0.0078
8         9.0  0.9993  1.9985 -1.0012  0.0034
9        10.0  1.0003  2.0005 -0.9993  0.0015
10       11.0  0.9999  1.9997 -1.0003  0.0007
11       12.0  1.0001  2.0001 -0.9999  0.0003
12       13.0  1.0000  1.9999 -1.0001  0.0001
13       14.0  1.0000  2.0000 -1.0000  0.0001
14       15.0  1.0000  2.0000 -1.0000  0.0000
15       16.0  1.0000  2.0000 -1.0000  0.0000

In [0]:
table2 , x1, x2, x3 = gauss_seidel(a,b,x,initial)
print(x1 , x2 , x3)
table2

1.0 2.0 -1.0

   Iteration      x1      x2      x3   Error
0        1.0  0.0000  0.0000  0.0000  4.0000
1        2.0  1.1111  1.6778 -0.9131  0.5202
2        3.0  1.0262  1.9687 -0.9958  0.0617
3        4.0  1.0030  1.9981 -1.0001  0.0050
4        5.0  1.0002  2.0000 -1.0001  0.0003
5        6.0  1.0000  2.0000 -1.0000  0.0000
6        7.0  1.0000  2.0000 -1.0000  0.0000

In [0]:
initial = [100,200,100]
table1 , x1 , x2 ,x3 = jacobi(a,b,x,initial) 
print(x1,x2,x3)
table1

1.0 2.0 -1.0

    Iteration        x1        x2        x3     Error
0         1.0  100.0000  200.0000  100.0000  398.0000
1         2.0  -32.2222  -48.1000 -100.0000  182.3222
2         3.0   17.5667   38.3444   26.2788   80.1899
3         4.0   -6.0692   -9.4970  -18.7343   36.3006
4         5.0    4.2479    8.7342    5.1087   16.0908
5         6.0   -0.4270   -0.4822   -4.3346    7.2438
6         7.0    1.6463    3.2858    0.2918    3.2239
7         8.0    0.7136    1.4832   -1.6438    1.4470
8         9.0    1.1290    2.2504   -0.7340    0.6454
9        10.0    0.9426    1.8944   -1.1262    0.2892
10       11.0    1.0258    2.0493   -0.9459    0.1292
11       12.0    0.9885    1.9786   -1.0250    0.0578
12       13.0    1.0051    2.0098   -0.9891    0.0258
13       14.0    0.9977    1.9957   -1.0050    0.0116
14       15.0    1.0010    2.0019   -0.9978    0.0052
15       16.0    0.9995    1.9991   -1.0010    0.0023
16       17.0    1.0002    2.0004   -0.9996    0.0010
17       18.0    0.9999    1.9998   -1.0002    0.0005
18       19.0    1.0000    2.0001   -0.9999    0.0002
19       20.0    1.0000    2.0000   -1.0000    0.0001
20       21.0    1.0000    2.0000   -1.0000    0.0000
21       22.0    1.0000    2.0000   -1.0000    0.0000
22       23.0    1.0000    2.0000   -1.0000    0.0000

In [0]:
table2 , x1, x2, x3 = gauss_seidel(a,b,x,initial)
print(x1 , x2 , x3)
table2

In [0]:
initial = [-100,-200,-100]
table1 , x1 , x2 ,x3 = jacobi(a,b,x,initial) 
print(x1,x2,x3)
table1

1.0 2.0 -1.0

    Iteration        x1        x2        x3     Error
0         1.0 -100.0000 -200.0000 -100.0000  402.0000
1         2.0   34.4444   51.9000  100.0000  184.3444
2         3.0  -15.7667  -34.9889  -28.2667   81.0222
3         4.0    8.1395   13.5333   17.0232   36.6961
4         5.0   -2.2841   -4.8349   -7.1411   16.2600
5         6.0    2.4418    4.4991    2.3811    7.3220
6         7.0    0.3466    0.6973   -2.3020    3.2580
7         8.0    1.2894    2.5213   -0.3481    1.4626
8         9.0    0.8696    1.7466   -1.2685    0.6523
9        10.0    1.0580    2.1066   -0.8723    0.2923
10       11.0    0.9740    1.9501   -1.0546    0.1305
11       12.0    1.0116    2.0216   -0.9747    0.0584
12       13.0    0.9948    1.9901   -1.0110    0.0261
13       14.0    1.0023    2.0043   -0.9950    0.0117
14       15.0    0.9990    1.9980   -1.0022    0.0052
15       16.0    1.0005    2.0009   -0.9990    0.0023
16       17.0    0.9998    1.9996   -1.0004    0.0010
17       18.0    1.0001    2.0002   -0.9998    0.0005
18       19.0    1.0000    1.9999   -1.0001    0.0002
19       20.0    1.0000    2.0000   -1.0000    0.0001
20       21.0    1.0000    2.0000   -1.0000    0.0000
21       22.0    1.0000    2.0000   -1.0000    0.0000
22       23.0    1.0000    2.0000   -1.0000    0.0000

In [0]:
table2 , x1, x2, x3 = gauss_seidel(a,b,x,initial)
print(x1 , x2 , x3)
print(x1,x2,x3)
table2

1.0 2.0 -1.0
1.0 2.0 -1.0

   Iteration        x1        x2        x3     Error
0        1.0 -100.0000 -200.0000 -100.0000  402.0000
1        2.0   34.4444   25.0111  -18.4889   73.9444
2        3.0    0.3864    7.3694   -2.7852    7.7681
3        4.0    0.6018    2.6152   -1.1151    1.1285
4        5.0    0.9444    2.0456   -1.0014    0.1027
5        6.0    0.9951    2.0014   -0.9992    0.0072
6        7.0    0.9998    1.9998   -0.9999    0.0006
7        8.0    1.0000    2.0000   -1.0000    0.0001
8        9.0    1.0000    2.0000   -1.0000    0.0000